* {
  box-sizing: border-box;
}

body {
  background-color: #6bacc0;
}

h1 {
  display: flex;
  justify-content: center;
  margin-bottom: 0;
}

h3 {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

#instructions {
  margin-left: 250px;
  margin-right: 250px;
}

.word-type-select {
  display: flex;
  justify-content: center;
  margin-top: 3px;
  margin-bottom: 3px;
  font-size: 20px;
}

#button-container {
  display: flex;
  justify-content: center;
  margin-top: 12px;
}

label {
  margin-right: 10px;
}

#generate-button-container {
  text-align: center;
  margin-top: 20px;
}

#generate-story-button {
  background-color: rgb(7, 46, 85);
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

#story-container {
  margin-left: 200px;
  margin-right: 200px;
  margin-top: 75px;
}